# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env

# Virtual Environment
.venv/
venv/
ENV/

# Flask
instance/
.webassets-cache

# IDE
.idea/
.vscode/

# Database
*.db
*.sqlite3

# Logs
*.log
